@import url('./fonts.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  width: 100vw;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  display: none;
}
.custom-bg {
  background-image: url('/images/landingpage/pattern_v1.svg'); /* Path to your SVG file */
  background-repeat: repeat; /* Adjust as needed */
  background-size: auto 250px; /* Adjust the size of the pattern */
  background-position: center; /* Center the pattern in the section */
}